<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>

<h1 th:text="'List of Vets'">List of Vets</h1>

<table>
    <thead>
    <th>
    <td>Id</td>
    <td>First Name</td>
    <td>Last Name</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="vet:${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet.firstName}">Sleepy</td>
        <td th:text="${vet.lastName}">Joe</td>
    </tr>
    </tbody>
</table>
</body>
</html>